body {
    margin: 0;
    padding: 0;
    background: linear-gradient(
      to right,
      #84ffc9,
      #aab2ff,
      #eca0ff
    ); 
  }
  
  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
  }
  
  .text-center {
    padding: 2%;
    color: #374955; 
  }
  
  .check-in {
    width: 500px;
    background: #0096c7;
    border-radius: 10%;
    padding: 1%;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .center-button {
    margin-bottom: 15px;
    display: flex;
    justify-content: center; 
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    padding: auto;
    color: #023047; 
  }
  
  input {
    width: 50%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid white; 
    background: transparent; 
    color: #023047; 
    transition: border-bottom-color 0.3s ease;
  }
  
  input:focus {
    outline: none;
    border-bottom-color: #ecf0f1; 
  }
  
  #update-button {
    background: #27ae60;
    color: white;
    padding: 10px;
    width: 30%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #login-button:hover {
    background: #219653;
  }
  